@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    --mainBG: hsl(217, 54%, 11%);
    --cardBG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
}

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--mainBG);

    font-family: "Outfit", sans-serif;
}

.cards {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    filter: drop-shadow(0 0 100px #000);
}

.card {
    background-color: var(--cardBG);
    width: 360px;
    border-radius: 20px;
    padding: 20px;
}

.NFT-image {
    margin-bottom: 1rem;
    position: relative;
    margin: 0 auto 10px;
}

.NFT-image img {
    width: 100%;
    height: auto;    
    border-radius: 15px;
}

.NFT-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0%;
    transition: opacity 1s ease-in, background-color 1s ease-in;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.NFT-overlay img {
    width: 100px;
    height: auto;
}

.NFT-image:hover .NFT-overlay{
    background-color: var(--cyan);
    opacity: 50%;
}

.NFT-title {
    font-size: 2.2rem;
    color: #fff;
    font-weight: 600;
    margin-bottom: 1rem;
    transition: color .5s;
}

.NFT-title:hover {
    color: var(--cyan);
}

.NFT-desc {
    font-size: 1.8rem;
    color: var(--soft-blue);
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.NFT-details {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin-bottom: 2rem;
}

.NFT-price {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--cyan);
    display: flex;
    width: 50%;
}

.NFT-timeleft {
    font-size: 1.8rem;
    color: var(--soft-blue);
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.NFT-author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    border-top: 1px solid var(--line);
    padding-top: 1.5rem;
}

.NFT-author img {
    width: 32px;
    height: auto;
    margin-right: 1.5rem;
    margin-bottom: .5rem;
    border: 1px solid #fff;
    border-radius: 50%;
}

.NFT-author p {
    font-size: 1.8rem;
    color: var(--soft-blue);
}

.NFT-author-name {
    color: #fff;
    transition: color .5s;
}

.NFT-author-name:hover {
    color: var(--cyan);
}